.header {
  background-color: #AD00FF;
  height: 10vh;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.navLink {
  width: fit-content;
  position: absolute;
  right: 0;
  margin-right: 15px;
}